/*

  This is a Windows Resource File which generates a Splash Screen Icons for the
  RAD Studio IDEs.

  @Author  David Hoyle
  @Version 1.0
  @Date    16 Sep 2017

*/
DWCSSplashScreenBitMap48x48 BITMAP "..\Images\DWCSSplashScreenBM48x48.bmp"
DWCSSplashScreenBitMap24x24 BITMAP "..\Images\DWCSSplashScreenBM24x24.bmp"
DWCSMenuBitMap16x16         BITMAP "..\Images\DWCSMenuBitMap16x16.bmp"